* {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0;
}

a {
    color: #e6e6e6;
    text-decoration: none;
}

a:visited {
    color: #e6e6e6;
}

.header__website {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: "Space Grotesk", sans-serif;

}

.nav__header {
    display: flex;
    padding-bottom: 5vh;
    justify-content: center;
    gap: 100px;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-transform: uppercase;
}

.nav__header > a {
    cursor: pointer;
    transition: 0.2s ease-in;
}

.nav__header > a:hover {
    color: #4292cd;
    transform: scale(1.1);
    letter-spacing: 5px;
}
